body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;

	margin: 0;
	height: 100svh;
}

#imageUpload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#imageUpload label svg {
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}

#loadingIcon {
	width: 4rem;
	height: 4rem;
	
	display: none;
	animation-name: spinning;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#loadingIcon.show {
	display: block;
}

@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

input[type="file"] {
	display: none;
}

#nutritionFacts {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #f9f9f9;
	border: 5px solid #000;
	padding: 20px;
	width: 300px;
}

hr {
	border: 1px solid #000;
	margin-bottom: 20px;
}

.infoRow {
	display: flex;
	justify-content: space-between;
}

.infoRow:not(:last-of-type) {
	border-bottom: 1px solid #000;
}

.name {
	font-weight: bold;
}

.infoGroupHeader {
	margin-top: 15px;
}

.infoGroupHeader .name {
	font-size: 20px;
}

.infoGroupItem .name {
	font-weight: normal;
}

.infoGroupItem {
	margin-left: 15px;
}

.infoGroup {
	margin-bottom: 15px;
}
